h1 {text-align: center;}
.art {
    margin:auto;
    text-align: center;
}

td {
    width: 70px;
    height: 25em;
    border: 1px solid #ffffff;
    background-color: #00ffff;
    text-align: center;
    margin-left: 50%;

}
#one {background-color: #55acee}
#two {background-color: #d0e8fa}
#three {background-color: #f6f6f6}
#four {background-color: #ffc03f}
#five {background-color: #3e474f}
